* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html{
    --primary-clr: #5c6fd5;
    --bg-light-clr: #f4f7fe;
    --dark-heading-clr: #15181d;
    --dark-sub-heading-clr: #181c1f;
    --dark-text-clr: #454545;
    --light-heading-clr: #fefefe;
    --light-sub-heading-clr: #e2e9fa;
    --light-text-clr: #ccd1dd;
}

body{
    width: 100%;
    height: 100%;
}

.website-wrapper{
    width: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin: 0px auto;
    background-color: var(--light-heading-clr);
}

/* === Reusable Code Starts === */
button.btn{
    padding: 14px 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: var(--primary-clr);
    color: var(--light-heading-clr);
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

button.btn:hover{
    background-color: transparent;
    color: var(--primary-clr);
    border: 1px solid var(--primary-clr)
}

header.section-heading{
    position: relative;
    max-width: 550px;
    margin-bottom: 35px;
    z-index: 3;
}

header.section-heading h3{
    font-size: 16px;
    color: var(--primary-clr);
    font-weight: 500;
    margin-bottom: 5px;
}

header.section-heading h1{
    font-size: calc(24px + 1.5vw);
    color: var(--dark-heading-clr);
    font-weight: 500;
}

header.section-heading p{
    font-size: 16px;
    color: var(--dark-sub-heading-clr);
    margin: 10px 0px 20px;
    line-height: 1.3;
}
/* === Reusable Code Ends === */

/* Home Section Styling Starts */
section.home{
    width: 100%;
    min-height: 100vh;
}

.home .top-bar{
    width: 100%;
    padding: 15px 8%;
    background-color: var(--bg-light-clr);
    display: flex;
    justify-content: space-between;
}

.home .top-bar .phone-email{
    display: flex;
}

.home .top-bar .phone-email i{
    margin-right: 3px;
    color: var(--dark-heading-clr);
    font-size: 15px;
}

.home .top-bar .phone-email span{
    color: var(--dark-heading-clr);
    font-size: 15px;
}

.home .top-bar .phone-email .phone{
    margin-right: 15px;
}

.home .top-bar .top-social-links{
    position: relative;
}

.top-bar .top-social-links a{
    text-decoration: none;
    color: var(--dark-heading-clr);
    margin-left: 15px;
}

.top-bar .top-social-links a i{
    font-size: 15px;
    color: var(--dark-heading-clr);
    transition: 0.3s;
}

.top-bar .top-social-links a i:hover{
    color: var(--primary-clr);
    transform: translateY(-2px);
}

.home .navbar{
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-heading-clr);
    z-index: 100%;
}

.home .navbar .logo{
    position: relative;   
}

.home .navbar .logo img{
    height: 30px;
}

.home .navbar ul.nav-links{
    list-style: none;   
}

.home .navbar ul.nav-links li{
    display: inline-block;
    margin-left: 15px;
}

.home .navbar ul.nav-links li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-heading-clr);
    transition: color 0.3s;
}

.home .navbar ul.nav-links li a:hover{
    color: var(--primary-clr)
}

.home .navbar .menu-btn{
    position: relative;
    display: flex;
    align-items: center;
    width: 26px;
    height: 20px;
    cursor: pointer;
    display: none;
}

.home .navbar .menu-btn span{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--dark-heading-clr);
    border-radius: 15px;
    transition: transform 0.3s, opacity 0.3s;
}

.home .navbar .menu-btn span:nth-of-type(1){
    transform: translateY(-7px);
}

.home .navbar .menu-btn span:nth-of-type(3){
    transform: translateY(7px);
}

.home .banner{
    position:relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home .banner .home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.home .banner .text-wrapper{
    position: relative;
    max-width: 600px;
    color: var(--light-heading-clr);
    top: -60px;
    z-index: 2;
}

.home .banner .text-wrapper h3{
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.home .banner .text-wrapper h1{
    font-size: calc(42px + 1.5vw);
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.home .banner .text-wrapper p{
    font-size: 15px;
    color: var(--light-heading-clr);
    line-height: 1.3;
    margin-bottom: 30px;
}


/* === Home Section Styling Ends === */

/* === Features Section Styling Starts === */

section.features{
    position: relative;
    width: 100%;
    padding: 0px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 3;
}

.features .features-box{
    position: relative;
    padding: 35px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-heading-clr);
    top: -60px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    z-index: 3;
}

.features .features-box .feature-icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light-clr);
    border-radius: 5% 50% 5% 50%;
}

.features .features-box .feature-icon i {
    font-size: 26px;
    color: var(--primary-clr);
}

.features .features-box h2{
    font-size: calc(16px + 0.6vw);
    font-weight: 500;
    color: var(--dark-heading-clr);
    text-transform: capitalize;
    margin: 20px 0 10px;
}

.features .features-box p{
    font-size: 15px;
    color: var(--dark-text-clr);
    text-align: center;
    line-height: 1.3;
}

/* === Features Section Styling Ends === */

/* === About Section Styling Starts === */

section.about{
    position: relative;
    width: 100%;
    padding: 90px 8% 30px;
}

.about .about-contents{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 7fr;
    grid-gap: 20px 7%;
    z-index: 2;
}

.about-contents .about-left-col{
    position: relative;
    width: 100%;
}

.about-contents .about-left-col img {
    position: relative;
    width: 100%;
    min-width: 350px;
    min-height: 500px;
    object-fit: cover;
    z-index: 1;
}

.about-contents .about-left-col .about-img-bg{
    position: absolute;
    width: 60%;
    height: 70%;
    top: -20px;
    left: -20px;
    background-color: var(--bg-light-clr);
    border-radius: 25px;
    transform: rotate(-15deg);
    z-index: 0;
}

.about-contents .about-right-col{
    width: 100%;
}

.about-contents .about-right-col .section-heading{
    margin-bottom: 15px;
}

.about-contents .about-right-col .about-facilities{
    list-style: none;
}

.about-contents .about-right-col .about-facilities li{
    position: relative;
    font-size: 15px;
    color: var(--dark-text-clr);
    text-indent: 20px;
    margin-bottom: 10px;
}

.about-right-col .about-facilities li::before{
    position: absolute;
    content: attr(check);
    left: -20px;
    color: var(--primary-clr);
    font-weight: 600;
}

.about-right-col .about-btn{
    margin-top: 25px;
}

.about .about-bg-blob{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.about .about-bg-blob img{
    position: absolute;
    width: 600px;
    height: 600px;
    bottom: 0px;
    right: -100px;
}
/* === About Section Styling Ends === */

/* === States Section Styling Start === */
section.states{
    position: relative;
    width: 100%;
    padding: 70px 8% 30px;
}

.states .states-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--primary-clr);
    border-radius: 5px;
}

.states .states-container .state-box{
    padding: 20px;
    text-align: center;
}

.states-container .state-box h3{
    font-size: calc(24px + 1.5vw);
    color: var(--light-heading-clr);
    margin-bottom: 10px;
}

.states-container .state-box p{
    font-size: 16px;
    color: var(--light-sub-heading-clr);
}
/* === States Section Styling Ends === */

/* === Services Section Styling Starts === */
section.services{
    position:relative;
    width: 100%;
    padding: 90px 8% 20px;
}

.services .services-contents{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 2;
}

.services .services-contents .service-box{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    padding: 25px 8%;
    border-left: 3px solid var(--primary-clr);
}

.services-contents .service-box .icon-box{
    position: relative;
}

.services-contents .service-box i{
    font-size: calc(22px + 1vw);
    color: var(--primary-clr);
}

.services-contents .service-box h2{
    font-size: calc(16px + 0.6vw);
    color: var(--primary-clr);
    font-weight: 500;
    margin: 20px 0px 10px;
}

.services-contents .service-box p{
    font-size: 15px;
    color: var(--dark-text-clr);
    margin-bottom: 25px;
    line-height: 1.4;
}

.services-contents .service-box a{
    text-decoration: none;
    color: var(--primary-clr);
    font-size: 15px;
}

.services-contents .service-box a:hover{
    text-decoration: underline;
}

.services .services-bg-blob{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.services .services-bg-blob img{
    position: absolute;
    width: 700px;
    height: 450px;
    left: -100px;
    top: 140px;
    z-index: 1;
}
/* === Services Section Styling Ends === */

/* === Media Query Starts === */
@media (max-width: 1068px){
    /* Services Section */
    .services .services-contents{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 968px){}

@media (max-width: 868px){
    /* Features Section */
    section.features{
        grid-template-columns: 1fr 1fr;
    }

    /* About Section */
    .about .about-contents{
       grid-template-columns: 1fr;
       grid-gap: 25px 0px;
    }
}

@media (max-width: 768px){
    /* Home Section */
    .home .top-bar {
        display: none;
    }
    
    .home .navbar .menu-btn{
        display: flex;
    }

    .home .navbar .menu-btn.active span:nth-of-type(1){
        transform: translateY(0px) rotate(45deg);
    }

    .home .navbar .menu-btn.active span:nth-of-type(3){
        transform: translateY(0px) rotate(-45deg);
    }

    .home .navbar .menu-btn.active span:nth-of-type(2){
        opacity: 0;
    }

    .home .navbar ul.nav-links{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 30px 0px;
        background-color: var(--bg-light-clr);
        border-top: 1px solid var(--bg-light-clr);
        z-index: 99;
        transition: 0.3s;
        transform: scaleY(0);
        transform-origin: top;
    }

    .home .navbar ul.nav-links.active{
        transform: scaleY(1);
    }

    .home .navbar ul.nav-links li{
        margin: 0;
    }

    .home .navbar ul.nav-links li a{
        display: block;
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .home .navbar ul.nav-links li a:hover{
        background-color: var(--bg-light-clr);
    }
    /* States Section */
    .states .states-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 668px){
    /* Features Section */
    section.features{
        grid-template-columns: 1fr;
    }

    .features .features-box .feature-icon i{
        font-size: 22px;
    }
}

@media (max-width: 568px){
    /* About Section */
    .about-contents .about-left-col img{
        min-width: 300px;
        min-height: auto;
    }

    /* States Section */
    .states .states-container{
        grid-template-columns: 1fr;
    }

    /* Services Section */
    .services .services-contents{
        grid-template-columns: 1fr;
        grid-gap:20px 0px;
    }
}

/* === Media Query Ends === */